.contact-section{
    display: flex;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    margin-top: 15vw;
    margin-bottom: 15vw;

      .call-write-us{
          flex:  .3;
          background: #FFFFFF;
          box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          padding: 2.5vw 3vw;
           .call-us{
            display: grid;
            margin-bottom: 2vw;
                .call-img{
                    display: flex;
                    align-items: center;
                    gap: 1vw;
                }
                .available{
                    margin-top: 2vw;
                    display: grid;
                    row-gap: .7vw;
                }
           }
      }

      .write-us{
           display: grid;
           margin-top: 2vw;
           .write-img{
                display: flex;
                align-items: center;
                gap: 1vw;
           }

           .emaildetails{
               margin-top: 2vw;
              display: grid;
              row-gap: .7vw;
           }
      }

      .sendmessage-section{
        flex: .7;
        background: #FFFFFF;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        display: grid;
        justify-items: center;

        .name-email-phone{
            display: flex;
            align-items: center;
            padding-top: 2.5vw;
            padding-bottom: 1vw;
            gap: .6vw;
        }

           .message{
                .message-textarea{
                    padding: 1vw 0vw;
                    textarea{
                        width: 100%;
                    }
                }
                .send-message{
                    text-align: end;
                }
           }
    }

}