.offerhero_section{
    display: flex;
    max-width: 1170px;
    margin: 0% auto;
    justify-content: space-between;
     margin-top: 2.5vw;
     margin-bottom: 2.5vw;
    .subsection-menu{
          ul{
            display: grid;
            row-gap: 1rem;
            li{
                list-style: none;
              
                a:hover{
                    border-bottom: 1px solid #DB4444;
                }
            }
          }
    }
    .carousel{
        background-color: #000;
        width: 80%;
        .first-carousel{
            display: flex;
            justify-content: space-between;
            // align-items: center;
            .shop-now{
                display: grid;
                .apple-first{
                    display: flex;
                    padding-left: 4.2vw;
                    margin-top: 3.5vw;
                    gap: 1rem;
                    img{
                        width: 40px;
                        height: 49px;
                        object-fit: fill;
                    }
                }
                .apple-second{
                    img{
                        width: 500px;
                        object-fit: fill;
                    }
                }
                .shop{
                    display: flex;
                    align-items: center;
                    padding-left: 4.2vw;
                    gap: .6em;
                }
            }
        }
        
    }
}
.main-deal{
    max-width: 1170px;
    margin: 140px auto 140px auto;
        
           .today-title{
            display: flex;
            align-items: center;
            gap: 1rem;
                    .today-div{
                         width: 2%;
                         height: 70px;
                         background-color: #DB4444;
                         border-radius: 5px;
                    }
           }
           .flash-sales-section{
            display: flex;
            gap: 4rem;
            margin-top: 1.7vw;
             }
        
            .sales-slider{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.7vw;
                    .singleproduct{
                        .product-details{
                            .product-image{
                                padding: 2.1em 2.5em;
                                background-color: #F5F5F5;
                                position: relative;
                                img{
                                    width: 150px;
                                    height: 120px;
                                    object-fit: fill;
                                }
                                .whistlist{
                                      position: absolute;
                                      right: 7%;
                                      top: 10%;
                                }
                            }
                            .addto-cart{
                                background-color: #000;
                                padding-top: .5vw;
                                padding-bottom: .5vw;
                                text-align: center;
                                a{
                                    text-decoration: none;
                                    font-family: "Poppins", sans-serif;
                                }
                            }
                        }
                    }
            }
                 .view-products{
                    background-color: #DB4444;
                    margin-top: 4.2vw;
                    width: 25%;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 1.2vw 3.2vw;
                    a{
                        text-align: center;
                        text-decoration: none;
                        color: #f5f5f5;
                        font-family: "Poppins", sans-serif;
                        line-height: 24px;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                 }
}

// featuresection
.categories{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    .browse-category{
        display: flex;
        align-items: center;
        gap: 1rem;
        .color-categories{
            width: 2%;
            height: 70px;
            background-color: #DB4444;
            border-radius: 5px;
        }
    }
    .category-title{
        margin-top: 1.7vw;
    }
    .category-carousel{
        margin-top: 3.7vw;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.7vw;
        align-items: center;
        .android-phone, .computers, .smart-phone, .camera, .headphone, .sports{
            text-align: center;
            border: 1px solid rgb(0, 0, 0, 0.3);
            border-radius: 4px;
            padding: 1.7vw 2.7vw 2.7vw 2.7vw;
            width: 15%;
        }
    }
}