.signup-form{
       padding: 4.2em 9.7em 10em 0em;
       display: flex;

       .image{
       flex: .6;
         img{
            width: 100%;
            object-fit: fill;
         }
       }
       .form{
         flex: .4;
        padding: 7.8em 0em 7.8em 8.5em;

         .form-design{
            display: grid;
            row-gap: 2.5em;
            margin-top: 3em;
            input{
                border: none;
                border-bottom: 1px solid #000;
            }
            input:focus{
                outline: none;
            }
         }
       }
}

@media screen and (min-width: 1440px){
      .form-design{
          input{
            width: 65%;
          }
      }
}