.signup-form{
       padding: 4.5vw 9.9vw 11vw 0vw;
       display: flex;

       .image{
       flex: .6;
         img{
            width: 100%;
            height: 100%;
            object-fit: fill;
         }
       }
       .form{
         flex: .4;
        padding: 8vw 0em 8vw 9vw;

         .form-design{
            display: grid;
            row-gap: 3vw;
            margin-top: 3.5vw;
            input{
                border: none;
                border-bottom: 1px solid #000;
                padding: .7vw 0vw;
            }
            input:focus{
                outline: none;
            }
         }
       }
}

// createaccount-section

.create-account-google{
   margin-top: 3vw;
       .create-account{
           padding: 1.3vw 0vw;
           background-color: #DB4444;
       }
       .already-account{
           display: flex;
           align-items: baseline;
           gap: 1rem;
           justify-content: center;
           width: 65%;
       }
}
@media screen and (min-width: 1440px){
      .form-design{
          width: 65%;
          input{
            width: 100%;
          }
      }
      .create-account{
        width: 65%;
        text-align: center;
      }
      .google-signup{
         width: 65%;
         background-color: #fff;
         display: flex;
         align-items: center;
         margin-top: 1em;
         justify-content: center;
         gap: .5em;
         border: 1px solid #000;
         padding: 1.2vw 0vw;
      }
}