footer{
    background-color: #000;
    .footer-name{
        padding: 4vw 8.5vw;
        .footer-menu{
               display: flex;
               justify-content: space-between;
               max-width: 1179px;
               margin-left: auto;
               margin-right:  auto;
                .support-details, .my-account-details, .links, .app-images{
                   display: grid;
                   row-gap: 1.3em;
                   margin-top: 1.5vw;

                      .social-media-icon{
                          display: flex;
                          justify-content: space-between;
                      }
                  
               }
               .uttam-store-footer{
                   margin-top: 0%;

                   .subscribe{
                    display: grid;
                    row-gap: 1.3em;
                     margin-top: 1.6vw;
                     .email{
                        position: relative;
                        input[type="text"]{
                            padding: 1vw 1.2vw;
                            border: 1.5px solid #FAFAFA;
                            border-radius: 4px;
                            background-color: #000;
                       }
                     }
                   }
               }
        }
    }
    .copyrights{
        border-top:  1px solid #FAFAFA;
        padding: 1.2vw 0vw;
        display: flex;
        justify-content: center;
        gap: .7vw;
    }
}