  .header-top{
      background-color: #000;
      
        .header-sales{
          max-width: 859px;
          margin: 0% auto;
          display: flex;
          justify-content: space-between;
          padding: 1.2vw 0em;

          .select-language{
            background-color: none;
            border: none;
             }
        }
    }


header{
  padding: 2.5vw 0vw 1.7vw 0vw;
  border-bottom: 1px solid #000;
    .header-top{
         color: #000;
       }

         nav{
              
           .nav{
             max-width: 1170px;
             margin: 0% auto;
                .store-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                        .home-contact-signup{
                            ul{
                               display: flex;
                               gap: 2.7vw;
                             li{
                                list-style: none;
                                a:hover{
                                  border-bottom: 1px solid #000;
                                  cursor: pointer;
                                 }
                                 a{
                                   color: #000;
                                   text-decoration: none;
                                 }
                           }
                           
                        }
                     }
                  }
                  .search-cart{
                    display: flex;
                    position: relative;
                    align-items: center;

                    .cart-whistlist{
                      display: flex;
                      gap: 1em;
                    }
                  }
              }
           }
     
}