@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  $primary-font-family: 'Inter', sans-serif;
  $secondary-font-family: 'Poppins', sans-serif;
  $font-size-normal: 16px;
  $primary-font--color: #000;
  $secondary-font-color: #fff;
  $font-weight-normal: 400;
  $font-items-color: #DB4444;

  // header
  .header-top{

    .header-sales{
        p{
            color: $secondary-font-color;
            font-family: $secondary-font-family;
            font-size: 1rem - .1rem;
            line-height: 21px;
          }
            span{
               color: $secondary-font-color;
               font-family: $secondary-font-family;
               font-weight: 600;
               font-size: 1rem - .1rem;
               line-height: 21px;
               margin-left: .5em;
            }


  }
  .select-language{

    select{
        background: none;
        border: none;
        color: #FAFAFA;
        font-weight: $font-weight-normal;
        line-height: 21px;
        width: 85px;
    }
   select option{
        color: $secondary-font-color;
        background: #000;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        padding: 1em 1em;
    }
  }  
}

header{
     .heading{
         h1{
             font-family: $primary-font-family;
             font-weight: 600;
             font-style: normal;
             line-height: 24px;

         }
     }
  .home-contact-signup{
    ul li a{
       font-family: $secondary-font-family;
       font-weight: 400;
       line-height: 24px;
       font-style: normal;
    }
  }
  .search-cart{
     .search-items{
       input{
        background-color: #F5F5F5;
        font-family: $secondary-font-family;
        padding: .7em 3em;
        border-radius: 5px 5px;
        border: none;
       }
     }
  }
}


// herosection

.offerhero_section{
     .subsection-menu{
          a{
            font-family: $primary-font-family;
            font-weight: $font-weight-normal;
            line-height: 24px;
            font-size: $font-size-normal;
            text-decoration: none;
            color: #000;
          }
     }
     .carousel{
         .first-carousel{
           .shop-now{
            .apple-first{
              p{
                color: $secondary-font-color;
                position: relative;
                top: 20px;
                font-size: $font-size-normal;
                font-family: $primary-font-family;
                font-weight: $font-weight-normal;
                font-style: normal;
                line-height: 24px;
              }
              
             }
             .upto{
              padding-left: 4em;
                 h2{
                  color: $secondary-font-color;
                  font-weight: 600;
                  font-family: $primary-font-family;
                  line-height: 60px;
                  font-style: normal;
                  font-size: 2.5rem;
                  text-align: left;
                 }
             }
             .shop{
                  a{
                    color: $secondary-font-color;
                    text-decoration: none;
                    font-family: $primary-font-family;
                    font-size: $font-size-normal;
                    font-weight: 500;
                    line-height: 24px;
                  }
                  a:hover{
                    border-bottom: 1px solid #fff;
                    
                  }
             }
           }
         }
     }
}


// main deal section

.main-deal{
       .today-title{
            .todays{
                  h3{
                    color: $font-items-color;
                    line-height: 20px;
                    font-weight: 600;
                    font-family: $secondary-font-family;
                  }
            }
       }

       .flash-sales-section{
        .flash-sales{
             h4{
                 font-family: $primary-font-family;
                 color: $primary-font--color;
                 font-weight: 600;
                 font-size: 2.1rem;
             }
        }
        .time{
             .display-date{
                span{
                    font-family: $secondary-font-family;
                    font-size: .8rem;
                    font-weight: 600;
                    line-height: 18px;
                }
             }
             .display-time{
                 span{
                     font-size: 2.1rem;
                     font-family: $primary-font-family;
                     color: $primary-font--color;
                     font-weight: 600;
                     line-height: 30px;
                 }
             }
        }
   }

      .sales-slider{
        .singleproduct{
          .addto-cart{
            background-color: $primary-font--color;
            text-align: center;
            padding: .7em 0%;
            
          }
          .description{
            margin-top: 1em;
            p{
              font-family: $secondary-font-family;
              font-size: $font-size-normal;
              font-weight: 600;
              line-height: 24px;
              color: #000;
            }
          }
          .price{
              p{
                font-family: $secondary-font-family;
                font-size: $font-size-normal;
                font-weight: 600;
                line-height: 24px;
                color: $font-items-color;
              }
              span{
                 color: $primary-font--color;
                 font-family: $secondary-font-family;
                font-size: $font-size-normal;
                font-weight: 600;
                line-height: 24px;
                text-decoration: line-through;
              }
          }
         }
      }
}

// featured section

.categories{
    h3{
      color: $font-items-color;
      line-height: 20px;
      font-weight: 600;
      font-family: $secondary-font-family;
    }
    .category-title{
      h4{
         font-family: $primary-font-family;
         font-weight: 600;
         font-size: 2.1rem;
      }
    }
    .category-carousel{
      .android-phone, .computers, .smart-phone, .camera, .headphone, .sports {
         p{
             font-style: normal;
             font-family: $secondary-font-family;
             font-size: $font-size-normal;
             font-weight: 400;
             line-height: 24px;
             padding-top: 1em;
         }
      }
    }
}


// footermenu

.footer-menu{
          h5{
               color: $secondary-font-color;
               font-family: $primary-font-family;
               font-weight: 700;
               font-style: normal;
               font-size: 1.7rem;
               line-height: 24px;
          }

      .subscribe{
             p:first-child{
                  color: $secondary-font-color;
                  font-family: $secondary-font-family;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 28px;
             }

             p {
              color: $secondary-font-color;
              font-size: $font-size-normal;
              font-weight: 400;
              line-height: 24px;
              font-family: $secondary-font-family;
           }
 
           ::placeholder{
                 color: #FAFAFA;
                 font-style: normal;
                 font-weight: $font-weight-normal;
                 font-size: $font-size-normal;
                 line-height: 24px;
            }
       
       }

     
         .support {
             p:first-child{
                 color: $secondary-font-color;
                 font-family: $secondary-font-family;
                 font-weight: 500;
                 font-size: 1.5rem;
                 line-height: 28px;
             }
             .support-details{
                  p{
                    color: $secondary-font-color;
                    font-size: $font-size-normal;
                    font-weight: 400;
                    line-height: 24px;
                    font-family: $secondary-font-family;
                  }
             }
           }
           .my-account{
              p{
                color: $secondary-font-color;
                font-family: $secondary-font-family;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 28px;
              }
            .my-account-details{
              a{
                text-decoration: none;
                color: $secondary-font-color;
                font-size: $font-size-normal;
                font-weight: 400;
                line-height: 24px;
                font-family: $secondary-font-family;
              }
            }
           }

           .quick-links{
                  
            p:first-child{
              color: $secondary-font-color;
              font-family: $secondary-font-family;
              font-weight: 500;
              font-size: 1.5rem;
              line-height: 28px;
             }
             .links{
                 p{
                  text-decoration: none;
                  color: $secondary-font-color;
                  font-size: $font-size-normal;
                  font-weight: 400;
                  line-height: 24px;
                  font-family: $secondary-font-family;
                 }
             }
           }

           .download-app{
               p{
                color: $secondary-font-color;
                font-family: $secondary-font-family;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 28px;
               }
                .app-images{
                  p{
                    text-decoration: none;
                    color: #FAFAFA;
                    font-size: .7rem;
                    font-weight: 400;
                    line-height: 24px;
                    font-family: $secondary-font-family;
                   }
                }
           }
    } 

    .copyrights{
      p{
        color: $secondary-font-color;
        font-family: $secondary-font-family;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
   }

  //  signupfrom 

  .form{
    h6{
       color: $primary-font--color;
       font-family: $secondary-font-family;
       font-style: normal;
       font-size: 2.1rem;
       font-weight: 500;
    }
    p{
      font-family: $secondary-font-family;
      font-size: $font-size-normal;
      font-weight: $font-weight-normal;
      line-height: 24px;
      padding-top: 1.5vw;
    }
    .form-design{
        ::placeholder{
          color: $primary-font--color;
          font-style: normal;
          font-weight: $font-weight-normal;
          font-size: $font-size-normal;
          line-height: 24px;
          font-family: $secondary-font-family;
        }
    }
  }

  // createaccount
  .create-account-google{
         
    .create-account{
              a{
                 text-decoration: none;
                 line-height: 24px;
                 font-size: $font-size-normal;
                 font-weight: 500;
                 font-family: $secondary-font-family;
                 color: $secondary-font-color;
         }
  }

   .google-signup{
           a{
              text-decoration: none;
              line-height: 24px;
              font-size: $font-size-normal;
              font-weight: 500;
              font-family: $secondary-font-family;
              color: $primary-font--color;
      }
  }
  .already-account {
       a{
           text-decoration: none;
           color: $primary-font--color;
           font-family: $secondary-font-family;
           line-height: 24px;
           font-size: $font-size-normal;
           font-weight: 500;
       }
       a:hover{
        border-bottom: 1px solid #000;
       }
  }
} 


//login form 
.login-form-section{
             .login-form-design{
                    .login-heading{
                      p:first-child{
                        color: $primary-font--color;
                        font-family: $secondary-font-family;
                        font-style: normal;
                        font-size: 2.1rem;
                        font-weight: 500;
                      }
                      p{
                        font-family: $secondary-font-family;
                        font-size: $font-size-normal;
                        font-weight: $font-weight-normal;
                        line-height: 24px;
                        padding-top: 1.5vw;
                      }
                    }
                    .forget-password{
                      a{
                        font-family: $secondary-font-family;
                      }
                    }
             }
      }