@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  $primary-font-family: 'Inter', sans-serif;
  $secondary-font-family: 'Poppins', sans-serif;
  $font-size-normal: 16px;
  $primary-font--color: #000;
  $secondary-font-color: #fff;
  $font-weight-normal: 400;
  $font-items-color: #DB4444;
$line-height: 24px;
  // header
  .header-top{

    .header-sales{
        p{
            color: $secondary-font-color;
            font-family: $secondary-font-family;
            font-size: 1rem - .1rem;
            line-height: 21px;
          }
            span{
               color: $secondary-font-color;
               font-family: $secondary-font-family;
               font-weight: 600;
               font-size: 1rem - .1rem;
               line-height: 21px;
               margin-left: .5em;
            }


  }
  .select-language{

    select{
        background: none;
        border: none;
        color: #FAFAFA;
        font-weight: $font-weight-normal;
        line-height: 21px;
        width: 85px;
    }
   select option{
        color: $secondary-font-color;
        background: #000;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        padding: 1em 1em;
    }
  }  
}

header{
     .heading{
         h1{
             font-family: $primary-font-family;
             font-weight: 600;
             font-style: normal;
             line-height: 24px;

         }
     }
  .home-contact-signup{
    ul li a{
       font-family: $secondary-font-family;
       font-weight: 400;
       line-height: 24px;
       font-style: normal;
    }
  }
  .search-cart{
     .search-items{
       input{
        background-color: #F5F5F5;
        font-family: $secondary-font-family;
        padding: .7em 3em;
        border-radius: 5px 5px;
        border: none;
       }
     }
  }
    .cart-whistlist{
         .shopping-cartNumber{
              span{
                   position: absolute;
                   background-color: $font-items-color;
                   color: $secondary-font-color;
                   font-family: $primary-font-family;
                    left: 0%;
                    bottom: 55%;
                    z-index: -999;
              }
         }
    }
}


// herosection

.offerhero_section{
     .subsection-menu{
          a{
            font-family: $primary-font-family;
            font-weight: $font-weight-normal;
            line-height: 24px;
            font-size: $font-size-normal;
            text-decoration: none;
            color: #000;
          }
     }
     .carousel{
         .first-carousel{
           .shop-now{
            .apple-first{
              p{
                color: $secondary-font-color;
                position: relative;
                top: 20px;
                font-size: $font-size-normal;
                font-family: $primary-font-family;
                font-weight: $font-weight-normal;
                font-style: normal;
                line-height: 24px;
              }
              
             }
             .upto{
              padding-left: 4em;
                 h2{
                  color: $secondary-font-color;
                  font-weight: 600;
                  font-family: $primary-font-family;
                  line-height: 60px;
                  font-style: normal;
                  font-size: 2.5rem;
                  text-align: left;
                 }
             }
             .shop{
                  a{
                    color: $secondary-font-color;
                    text-decoration: none;
                    font-family: $primary-font-family;
                    font-size: $font-size-normal;
                    font-weight: 500;
                    line-height: 24px;
                  }
                  a:hover{
                    border-bottom: 1px solid #fff;
                    
                  }
             }
           }
         }
     }
}


// main deal section

.main-deal{
       .today-title{
            .todays{
                  h3{
                    color: $font-items-color;
                    line-height: 20px;
                    font-weight: 600;
                    font-family: $secondary-font-family;
                  }
            }
       }

       .flash-sales-section{
        .flash-sales{
             h4{
                 font-family: $primary-font-family;
                 color: $primary-font--color;
                 font-weight: 600;
                 font-size: 2.1rem;
             }
        }
        .time{
             .display-date{
                span{
                    font-family: $secondary-font-family;
                    font-size: .8rem;
                    font-weight: 600;
                    line-height: 18px;
                }
             }
             .display-time{
                 span{
                     font-size: 2.1rem;
                     font-family: $primary-font-family;
                     color: $primary-font--color;
                     font-weight: 600;
                     line-height: 30px;
                 }
             }
        }
   }

      .sales-slider{
        .singleproduct{
          .addto-cart{
            background-color: $primary-font--color;
            text-align: center;
            padding: .7em 0%;
            
          }
          .description{
            margin-top: 1em;
            p{
              font-family: $secondary-font-family;
              font-size: $font-size-normal;
              font-weight: 600;
              line-height: 24px;
              color: #000;
            }
          }
          .price{
              p{
                font-family: $secondary-font-family;
                font-size: $font-size-normal;
                font-weight: 600;
                line-height: 24px;
                color: $font-items-color;
              }
              span{
                 color: $primary-font--color;
                 font-family: $secondary-font-family;
                font-size: $font-size-normal;
                font-weight: 600;
                line-height: 24px;
                text-decoration: line-through;
              }
          }
         }
      }
}

// featured section

.categories{
    h3{
      color: $font-items-color;
      line-height: 20px;
      font-weight: 600;
      font-family: $secondary-font-family;
    }
    .category-title{
      h4{
         font-family: $primary-font-family;
         font-weight: 600;
         font-size: 2.1rem;
      }
    }
    .category-carousel{
      .android-phone, .computers, .smart-phone, .camera, .headphone, .sports {
         p{
             font-style: normal;
             font-family: $secondary-font-family;
             font-size: $font-size-normal;
             font-weight: 400;
             line-height: 24px;
             padding-top: 1em;
         }
      }
    }
}


// footermenu

.footer-menu{
          h5{
               color: $secondary-font-color;
               font-family: $primary-font-family;
               font-weight: 700;
               font-style: normal;
               font-size: 1.7rem;
               line-height: 24px;
          }

      .subscribe{
             p:first-child{
                  color: $secondary-font-color;
                  font-family: $secondary-font-family;
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 28px;
             }

             p {
              color: $secondary-font-color;
              font-size: $font-size-normal;
              font-weight: 400;
              line-height: 24px;
              font-family: $secondary-font-family;
           }
 
           ::placeholder{
                 color: #FAFAFA;
                 font-style: normal;
                 font-weight: $font-weight-normal;
                 font-size: $font-size-normal;
                 line-height: 24px;
            }
       
       }

     
         .support {
             p:first-child{
                 color: $secondary-font-color;
                 font-family: $secondary-font-family;
                 font-weight: 500;
                 font-size: 1.5rem;
                 line-height: 28px;
             }
             .support-details{
                  p{
                    color: $secondary-font-color;
                    font-size: $font-size-normal;
                    font-weight: 400;
                    line-height: 24px;
                    font-family: $secondary-font-family;
                  }
             }
           }
           .my-account{
              p{
                color: $secondary-font-color;
                font-family: $secondary-font-family;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 28px;
              }
            .my-account-details{
              a{
                text-decoration: none;
                color: $secondary-font-color;
                font-size: $font-size-normal;
                font-weight: 400;
                line-height: 24px;
                font-family: $secondary-font-family;
              }
            }
           }

           .quick-links{
                  
            p:first-child{
              color: $secondary-font-color;
              font-family: $secondary-font-family;
              font-weight: 500;
              font-size: 1.5rem;
              line-height: 28px;
             }
             .links{
                 p{
                  text-decoration: none;
                  color: $secondary-font-color;
                  font-size: $font-size-normal;
                  font-weight: 400;
                  line-height: 24px;
                  font-family: $secondary-font-family;
                 }
             }
           }

           .download-app{
               p{
                color: $secondary-font-color;
                font-family: $secondary-font-family;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 28px;
               }
                .app-images{
                  p{
                    text-decoration: none;
                    color: #FAFAFA;
                    font-size: .7rem;
                    font-weight: 400;
                    line-height: 24px;
                    font-family: $secondary-font-family;
                   }
                }
           }
    } 

    .copyrights{
      p{
        color: $secondary-font-color;
        font-family: $secondary-font-family;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
   }

  //  signupfrom 

  .form{
    h6{
       color: $primary-font--color;
       font-family: $secondary-font-family;
       font-style: normal;
       font-size: 2.1rem;
       font-weight: 500;
    }
    p{
      font-family: $secondary-font-family;
      font-size: $font-size-normal;
      font-weight: $font-weight-normal;
      line-height: 24px;
      padding-top: 1.5vw;
    }
    .form-design{
        ::placeholder{
          color: $primary-font--color;
          font-style: normal;
          font-weight: $font-weight-normal;
          font-size: $font-size-normal;
          line-height: 24px;
          font-family: $secondary-font-family;
        }
    }
  }

  // createaccount
  .create-account-google{
         
    .create-account{
              input{
                 line-height: 24px;
                 font-size: $font-size-normal;
                 font-weight: 500;
                 font-family: $secondary-font-family;
                 color: $secondary-font-color;
                 background: none;
                 border: none;
                 cursor: pointer;
         }
         input[type="submit"]{
              text-align: center;
         }
  }

   .google-signup{
           a{
              text-decoration: none;
              line-height: 24px;
              font-size: $font-size-normal;
              font-weight: 500;
              font-family: $secondary-font-family;
              color: $primary-font--color;
      }
  }
  .already-account {
       a{
           text-decoration: none;
           color: $primary-font--color;
           font-family: $secondary-font-family;
           line-height: 24px;
           font-size: $font-size-normal;
           font-weight: 500;
       }
       a:hover{
        border-bottom: 1px solid #000;
       }
  }
} 


//login form 
.login-form-section{
             .login-form-design{
                    .login-heading{
                      p:first-child{
                        color: $primary-font--color;
                        font-family: $secondary-font-family;
                        font-style: normal;
                        font-size: 2.1rem;
                        font-weight: 500;
                      }
                      p{
                        font-family: $secondary-font-family;
                        font-size: $font-size-normal;
                        font-weight: $font-weight-normal;
                        line-height: 24px;
                        padding-top: 1.5vw;
                      }
                    }
                    .forget-password{
                      a{
                        font-family: $secondary-font-family;
                      }
                    }
             }
      }
      .selling-section{
        .this-month{
              .this-month-title{
                   p{
                       font-family: $secondary-font-family;
                       font-size: $font-size-normal;
                       font-weight: 600;
                       color: $font-items-color;
                       line-height: 24px;
                   }
              }
        }

        .best-selling-products{
            p{
                font-size: 2.1rem;
                font-family: $primary-font-family;
                font-weight: 600;
                line-height: 48px;
            }

            .selling-viewall{
                 background-color: $font-items-color;
                 padding: 1vw 3.5vw;
                 a{
                     font-family: $secondary-font-family;
                     font-weight: $font-size-normal;
                     font-weight: 500;
                     line-height: 24px;
                     color: #fff;
                     text-decoration: none;
                 }
            }
        }

        .selling-product-description{
             margin-top: 1vw;
             p{
                  font-family: $secondary-font-family;
                  font-size: $font-size-normal;
                  font-weight: 600;
                  line-height: 24px;
                  color: #000;
             }
             p:last-child{
              font-family: $secondary-font-family;
              font-size: $font-size-normal;
              font-weight: 600;
              line-height: 24px;
              color: #DB4444;
             }
             span{
                 text-decoration: line-through;
                 color: $primary-font--color;
                 opacity: .5;
                 font-family: $secondary-font-family;
                 font-size: $font-size-normal;
                 font-weight: 600;
                 line-height: 24px;
             }
        }
        .add-to-cart{
             a{
                 color: $secondary-font-color;
                 font-family: $secondary-font-family;
                 text-decoration: none;
             }
        }
      }

  // music-experience-section
.music_experience_section{
  .music-description-row{
        .music-descripton-grid{
             .categories{
                 p{
                     color: #00FF66;
                     font-size: $font-size-normal;
                     font-weight: 600;
                     line-height: $line-height;
                     font-style: normal;
                     font-family: $secondary-font-family;
                 }
             }
             .enhance-music{
                    #enhance{
                            color: $secondary-font-color;
                            font-size: 4vw;
                            font-family: $primary-font-family;
                            line-height: 90px;
                           font-weight: 600;
                           font-style: normal;
                }
                   .offer_til_valid{
                      .days, .hours, .minutes, .seconds{
                         p{ 
                           font-family: $secondary-font-family;
                            font-size: $font-size-normal;
                            font-weight: 600;
                            line-height: $line-height;
                            color: $primary-font--color;
                         }
                         span{
                               font-family: $secondary-font-family;
                               font-size: $font-size-normal;
                               font-weight: 600;
                               line-height: $line-height;
                               color: $primary-font--color
                         }
                      }
                   }
             }
             .buy-now{
                 a{
                     font-family: $secondary-font-family;
                      font-size: $font-size-normal;
                      font-weight: 600;
                      line-height: $line-height;
                     color: $secondary-font-color;
                     text-decoration: none;
                 }
             }
        }
  }
}


// explore our products section
.explore-our-products{
  .our-products-title-row{

       .our-products{
            p{
                font-size: $font-size-normal;
                font-weight: 600;
                color: $font-items-color;
                font-family: $secondary-font-family;
                line-height: $line-height;
            }
       }
  }

  .explore-product-heading-row{
          h6{
               font-size: 2.1rem;
               font-family: $primary-font-family;
               font-weight: 600;
               line-height: 48px;
          }
          .explore-data-grid{
               .add-to-cart{
                  a{
                    color: $secondary-font-color;
                    font-family: $secondary-font-family;
                    text-decoration: none;
                  }
               }
               .explore-product-details{
                p{
                  font-family: $secondary-font-family;
                  font-size: $font-size-normal;
                  font-weight: 600;
                  line-height: 24px;
                  color: #000;
             }
             p:last-child{
              font-family: $secondary-font-family;
              font-size: $font-size-normal;
              font-weight: 600;
              line-height: 24px;
              color: #DB4444;
             }
             span{
                 text-decoration: line-through;
                 color: $primary-font--color;
                 opacity: .5;
                 font-family: $secondary-font-family;
                 font-size: $font-size-normal;
                 font-weight: 600;
                 line-height: 24px;
             }
               }
          }
          .view-all-exploreproduct{
            background-color: #DB4444;
            padding: 1vw 3.5vw;
            max-width: 20%;
            margin: auto;
            text-align: center;
            border-radius: 4px;
               a{
                font-family: $secondary-font-family;
                font-weight: 500;
                line-height: $line-height;
                color: #fff;
                text-decoration: none;
               }
          }
  }
}

// new arrival section
.newarrival{
.arrivalColor{
     .featured{
         p{
              font-size: $font-size-normal;
              font-weight: 600;
              line-height: $line-height;
              font-family: $secondary-font-family;
              color: $font-items-color;
         }
     }
}
.newArrival_heading{
    h7{
      font-size: 2.1rem;
      font-family: $primary-font-family;
      font-weight: 600;
      line-height: $line-height;
    }
}
.newarrival_row{
      p{
        color: $secondary-font-color;
      }
}
.newArrival-flex{
      .ps-details{
         p:first-child{
          font-weight: 600;
          font-style: normal;
          line-height: 3rem;
          font-size: 2vw;
          font-family: $primary-font-family;
         }
         p{
          font-size: $font-size-normal;
          font-weight: $font-weight-normal;
          line-height: $line-height;
          font-family: $secondary-font-family;
          margin-top: 1vw;
       }
       a{
          text-decoration: none;
          color: $secondary-font-color;
          font-size: $font-size-normal;
          font-weight: $font-weight-normal;
          line-height: 2vw;
          font-family: $secondary-font-family;
          margin: 2vw 0vw;
       }
       a:hover{
           border-bottom: 1px solid #fff;
       }
      }
}
.arrival_grid{
     .women-collection, .speakers-description, .perfume-description{
             p:first-child{
                font-weight: 600;
                font-style: normal;
                line-height: 3rem;
                font-size: 2vw;
                font-family: $primary-font-family;
             }
             p{
                font-size: $font-size-normal;
                font-weight: $font-weight-normal;
                line-height: $line-height;
                font-family: $secondary-font-family;
                margin-top: 1vw;
             }
             a{
                text-decoration: none;
                color: $secondary-font-color;
                font-size: $font-size-normal;
                font-weight: $font-weight-normal;
                line-height: 2vw;
                font-family: $secondary-font-family;
             }
             a:hover{
                 border-bottom: 1px solid #fff;
             }
     }
}
}

// customer service seciton
.customer-service-row{
.service{
.fast-free, .customer-service, .money-back{

   p{
      text-transform: capitalize;
      font-size: 1.5vw;
      font-weight: 600;
      font-family: $secondary-font-family;
      line-height: 2.3vw;
   }
   p:last-child{
       font-size: $font-size-normal;
       font-weight: $font-weight-normal;
       font-style: normal;
       font-family: $secondary-font-family;
       line-height: $line-height;
   }
}
}
}